<div class="wrapper fadeInDown" style="margin-top: 100px;">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://img.icons8.com/cute-clipart/64/000000/login-rounded-right.png"/>
      </div>
  
      <!-- Login Form -->
      <form>






       
          
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="rd1" value="admin">
            <label class="form-check-label" for="rd1">
                    Admin
                </label>
          </div>  

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="rd2" value="faculty">
            <label class="form-check-label" for="rd2">
                    Faculty
                </label>
          </div> 


          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="rd3" value="student">
            <label class="form-check-label" for="rd3">
                    Student
                </label>
          </div> 








        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>