<div class="container-fluid">
  <nav class="fixed-top navbar navbar-dark navbar-expand-sm bg-dark justify-content-sm-center justify-content-start ">
    <!-- Brand -->
    <a class="navbar-brand " href="#">
      <img src="assets/at.jpg" width="50px" alt="">
    </a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100 " id="collapsibleNavbar">
      <ul class="navbar-nav mx-auto text-md-center text-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus">ContactUs</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div>
  <router-outlet></router-outlet>
</div>