<div class="container py-5">
  
  
  
    <div class="p-5 bg-white rounded shadow mb-5" style="margin-top: 100px;">
      <!-- Rounded tabs -->
      <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
        <li class="nav-item flex-sm-fill pill1 active" >
          <a id="home-tab" data-toggle="tab" routerLink="viewassignments"
           role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">View Assignments</a>
        </li>
        <li class="nav-item flex-sm-fill pill2 active" >
          <a id="home-tab" data-toggle="tab" routerLink="createassignment" role="tab" aria-controls="profile" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Create assignment</a>
        </li>
         <li class="nav-item flex-sm-fill pill3 active" >
          <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">Assignments Status</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        
        <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade px-4 py-5 show active">
         <router-outlet ></router-outlet>
        </div>


        <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade px-4 py-5">
          
        </div>
        
      </div>
      <!-- End rounded tabs -->
    </div>
  
  
  </div>